##
## Payments Bolt Extension
##

## Base URL for routes
#
#mountpoint: payments

## Template overrides
#
#templates:
#    parent: layout.twig
#    pages:
#        payment: payment.twig
#        address: address.twig
#        complete: complete.twig
#    button:
#        payment: _button_payment.twig
